.a{
    width: 400px;
    height: 250px;
   background-color: black;
   display: center;
  margin: auto;
  margin-top: 254px;
  margin-left: 579px;

}
.b{
    width: 300px;
    height: 200px;
    border: 2px solid;
    border-color: black;}
    .c{
        height: 25px;
        width: 25px;
        background-color: red;
        display: inline-block;
        text-align: center;
        border-radius: 120px;
        width: 120px;
        height: 120px;
        margin-left: 85px;
        margin-top: 42px;
        border: 240px;
    }
.d{
    border: 2px solid;
    border-color: black;
    width: 400px;
    height: 300px;
    margin-left: 400px;
    align-items: flex-end;
    justify-content: space-evenly;
    display: flex;
    width: 180px;
    padding: 5px;
}
.one{
    height: 250px;
    background-color: aqua;
    width: 25px;

}
.two{
    height: 192px;
    background-color: aqua;
    width: 25px;
}
.three{
    height: 92px;
    background-color: aqua;
    width: 25px;

}
.four{
    height: 220px;
    background-color: aqua;
    width: 25px;
}